.pri {
  color: #1918AB;
}
.sec{
  color:  #3E5790;
}
.suc{
  color: #77C327;
}

.bg-pri {
  background-color: #1918AB;
}
.bg-sec{
  background-color:  #3E5790;
}
.suc{
  background-color: #77C327;
}
